[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/x-python;text/x-script.python;application/x-python;text/javascript;application/javascript;text/x-java;text/x-c;text/x-c++;text/x-csrc;text/x-chdr;text/x-rustsrc;text/x-go;text/x-ruby;application/x-shellscript;text/x-haskell;text/plain;
Actions=studifyAlgo;studifyLang;
X-KDE-Priority=TopLevel

[Desktop Action studifyAlgo]
Name=Studify Algorithm (LLM)
Icon=text-x-script
Exec=gnome-terminal -- bash -c '$HOME/.local/bin/studify-algo.sh "$@"; echo; read -p "Press Enter to close..."' _ %F

[Desktop Action studifyLang]
Name=Studify Language (LLM)
Icon=text-x-script
Exec=gnome-terminal -- bash -c '$HOME/.local/bin/studify-lang.sh "$@"; echo; read -p "Press Enter to close..."' _ %F
